<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640" />

    <link rel="stylesheet" href="/assets/stylesheets/core.css" media="screen"/>
    <link rel="stylesheet" href="/assets/stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"/>
    <link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css"/>

    <script type="text/javascript" src="/assets/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/headsmart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
	    <h1>{{ page.title }}</h1>
            <h2></h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <br /><br />

      <section id="main_content">
      {{ content }}
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p><a href="/">Ana Sayfa</a></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <span class="octocat"></span>
      </footer>

    </div>
  </body>
</html>
